# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Playwright user data (for scraping, not commit)
playwright-user-data

# VS Code settings
.vscode/

# Environment + secret files
.env
.env.*
.secret.*

# macOS metadata
.DS_Store

# UV-specific lock file
uv.lock

# Compiled binaries or temp files
*.so
*.log
*.bak

# System-specific Python version manager files
.python-version

# Password holder
git-password.txt

# Quick testing
test.py
bs-test/
json-test.py

# Other
/scrapers
/geolocation

# bs-results (now fetched from Azure instead of project repo)
apartments.json
apartments-test.json
apartment_locations.json
catchdesmoines-events.json

# Azure Uploader
azure-json-uploader.py
install.sh
cs_capstone/
